target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.gnupg
conf

_site
.sass-cache
.DS_Store
.jekyll-cache
venv

script/tmp

__pycache__

derby.log
derby/derbyDB
derby/derby.log

sqllite/test

h2/test.mv.db