.bugbounty {
  .docs-main,
  .docs-nav {
    padding-top: 25px;
  }

  section {
    padding: 20px 0px;
  }

  h1 {
    margin-bottom: 0px;
  }

  .card {
    box-shadow: 0px 0px 4px #dedede;

    h3 {
      margin-top: 0px;
    }
  }
}