::-webkit-input-placeholder, // Chrome
:-ms-input-placeholder { // IE 10+
	color: $placeholder-colour;
}

::-moz-placeholder, // Firefox 19+
:-moz-placeholder { // Firefox 4 - 18
	color: $placeholder-colour;
	opacity: 1;
}

input,
textarea {
	-webkit-appearance: none;
}

a.button,
input[type="submit"] {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	padding: 18px $half-space;
	display: inline-block;
	border-radius: $border-radius;
	background: $brand-color;
	color: #fff;
	border: 0;
	transition: $transition-duration background-color ease, $transition-duration color ease;
	letter-spacing: $uppercase-letter-spacing;
	font-size: $font-smaller;
	cursor: pointer;

	&:hover,
	&.light.dark-hover:hover {
		background-color: $cta-background-color;
	}

	&.keep-text-size {
		font-size: inherit;
	}

	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-hover {
		&,
		&.light,
		&.dark {
			&:hover {
				background: none;
			}
		}

		&.light:hover {
			color: $brand-color;
		}
	}

	&.no-border {
		&,
		&.light,
		&.light:hover {
			border-color: rgba(0, 0, 0, 0);
		}
	}

	&.dark {
		background: none;
		border: 1px solid #fff;

		&.brand {
			background: $brand-color;
		}

		&:hover {
			background: #fff;
			color: $brand-color;
		}

		&.no-border {
			border: 0;
		}
	}

	&.dark-blue {
		background-color: $cta-background-color;

		&:hover {
			background: $brand-color;
		}
	}

	&.shadow {
		box-shadow: $large-box-shadow;
	}

	&.light {
		background: #fff;
		color: $brand-color;
		border: 1px solid $brand-color;

		&:hover {
			color: #fff;
			background: $brand-color;
		}
	}

	&.button-small {
		padding: 9px ($half-space / 2);
	}
}

.toggle-buttons {
	display: inline-block;
	margin: 0 auto;
	background: #fff;
	box-shadow: $medium-box-shadow;
	border-radius: $border-radius;

	.button {
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 0;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		&.selected,
		&.selected:hover {
			background-color: $cta-background-color;
			color: #fff;
		}
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 16px;
	outline: 0;
	border-radius: $border-radius;
	border: 1px solid $plain-border-color;
	font-size: 1rem;
	box-sizing: border-box;
}

.form-icon {
	position: relative;

	i.material-icons {
		color: $form-icon-colour;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		font-size: 19px;
	}

	input[type="text"],
	input[type="email"] {
		padding-left: 54px;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}
