html {
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
}

h1 {
	font-size: 2.3rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

.big-text {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
}

@media only screen and (min-width: $tablet-min) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.9rem;
	}

	.big-text {
		font-size: 2rem;
	}
}

@media only screen and (min-width: $desktop-min) {
	h1 {
		font-size: 2.7rem;
	}

	h2 {
		font-size: 2rem;
	}

	.big-text {
		font-size: 2.3rem;
	}
}

p,
ul,
ol {
	font-size: $font-size-content;
	line-height: 1.8em;
}

p,
ul,
ol,
blockquote,
figure,
h1,
h2,
h3,
h4 {
	@extend .vertical-flow;
}

body,
input,
textarea,
select {
	font-family: "Muli", Helvetica, Arial, sans-serif;
	color: $text-colour;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

code {
	word-break: keep-all;
}


.header-link {
	margin-left: 10px;
	opacity: 0;
	transition: opacity ease 0.2s, color ease 0.2s;
	text-decoration: none;
	color: #888;
	font-size: 0.9em;
	vertical-align: bottom;

	&:hover {
		color: $brand-color;
	}
}

h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
	opacity: 1;
}


blockquote.explainer {
	padding: 15px;
	margin-left: 0;
	margin-right: 0;
	border-left: 5px solid $brand-color;
	background-color: $brand-color-background;
	transition: $transition-duration border-color ease, $transition-duration background-color ease;

	&.warning {
		background-color: $warning-color-light;
		border-color: $warning-color;
	}

	&.error {
		background-color: $error-color-light;
		border-color: $error-color;
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}
